*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;   
    color: #fff;
}

header {
    min-height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(91, 83, 214);
}
header h1 {
    font-size: 2.5em;
    color: rgb(255, 255, 255);
}

main {
    padding: 0%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(240, 240, 243),rgb(8, 103, 247));
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 2px 3px black;
}

main form {
    margin-top: 5%;
    width: 35%;
    height: 75vh;
    background-color: rgb(91, 83, 214);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0,4) inset rgba(0, 0, 0, 0,25);
    border-radius: 18px;
    padding: 2%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .inputs-container {
    margin-top: 10%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .inputs-container input {
    width: 75%;
    height: 55px;
    padding: 7px 15px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    
    font-size: 18px;
    color: black;

    box-shadow: blue;
}
main form .inputs-container input:focus {
    box-shadow: inset 1px 4px 7px #18acfe;
}

main form .password-container {
    height: 70px ;
    margin-top: 2%;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form .password-container i {
    position: absolute;
    right: 16%;
    top: 26%;
    color: #777;
    cursor: pointer;
}

main form .password-container #eye {
    display: none;
}


main form .password-infos {
    width: 70%;
    margin-top: 3%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main form .password-infos a {
    transition: 0.2s ease-in-out;
}

main form .password-infos a:hover {
    color: #18acfe
}

main form button {
    background-color: #18acfe;
    width: 70%;
    height: 50px;
    border: 0;
    outline: 0;
    border-radius: 12px;
    margin-top: 10%;
    font-size: 1.6em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;  
}

main form button:hover {
    background: #fff;
    color: #18acfe;
}

main form .links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

main form .links-container span {
    font-size: 0.8em;
    font-weight: 600;
}

main form .links-container aside {
    margin-top: 5%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
main form .links-container aside i {
    font-size: 1.6em;
    background-color: #fff;
    padding: 8px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}
main form .links-container aside .google {
    color:#e34133
}

main form .links-container aside .google:hover {
    background-color: #e34133;
    color: #fff;
}

main form .links-container aside .facebook {
    color: #14a0f9
}

main form .links-container aside .facebook:hover {
    background-color:  #14a0f9;
    color: #fff;
}
main form .links-container aside .linkedin {
    color: #0a66ce
}

main form .links-container aside .linkedin:hover {
    background-color:  #0a66ce;
    color: #fff;
}

main form footer {
    width: 100%;
    margin-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main form footer hr {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

main form footer span {
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 5%;
}

main form footer a {
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

main form footer a:hover {
    color: #18acfe;
}

